.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  font-style: normal;
  @include font(null, 14px, 1.7, 0.03em);

  background-color: var(--footer-background-color);

  .footer-wrap {
    @include desk {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: baseline;
    }
  }
}

.address-socials-wrap {
      margin-bottom: 60px;
    @include tab {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
    }
    @include desk {
      flex-grow: 1;
      padding: 0;
      margin-bottom: 0;
    }
  }

