.address-container {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tab {
    margin-bottom: 0;
  }

  @include desk {
    align-items: baseline;
  }
  }

  @include desk {
    flex-grow: 1;
  }


.address {
  margin-top: 20px;
}
.address__list {
  @extend %list;
  @media screen and (max-width:1199px) {
    text-align: center;
  }
  
}

.address__mail--link,
.address__tel--link {
  font-style: normal;

  color: var(--footer-text-color);
}

.address__item:not(:last-child) {
  margin-bottom: 8px;

  @include desk {
    margin-bottom: 9px;
  }
}

.address__info {
  font-style: normal;

  color: var(--additional-font-color);
}
