.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  font-style: normal;
  @include font(null, 14px, 1.7, 0.03em);

  background-color: var(--footer-background-color);

  .footer-wrap {
    // height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include desk {
      flex-direction: row;
      align-items: baseline;
    }
  }
}
