.nav-list {
  @extend %list;
  display: none;
  @include tab {
  display: flex;
  align-items: center;
  }
}

  .nav-list__link {
    text-decoration: none;
    font-family: inherit;
    @include font(500, 14px, 1.14, 0.02em);
    color: var(--title-text-color);
  }
  
  .nav-list__item + .nav-list__item {
    margin-left: 50px;
  }


.nav {
  display: flex;
}
