.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;

  @include tab {
  padding-top: 21px;
  padding-bottom: 21px;
  }

  @include desk {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header__container {
    display: flex;
    align-items: center;
  }
}

.menu-open-btn, .menu-close-btn{
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;

  &:hover, &:focus {
    fill: var(--accent-color);
  }
}

.menu-open-btn {
  @include tab {
  display: none;
  }
}

.tel-menu {
position: fixed;
overflow: auto;
z-index: 1;
background-color: var(--background-color); 
width: 100vw;
height: 100vh;
top: 0;
left: 0;
padding-top: 10px;
padding-bottom: 48px;
padding-right: 15px;
padding-left: 40px;

.tel-menu-wrap {
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}
}

.tel-menu-list {
  @extend %list;
  
}

.tel-menu-list__item, .tel-menu-contacts__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.tel-menu-list__link {
@include font (500, 40px, 1.175, 0.02em);
color: var(--title-text-color);
}

.tel-menu-list__link--current {
  color: var(--accent-color);
}

.tel-menu-contacts {
  @extend %list;
}

.tel-menu-contacts__link {
  @include font (500, 24px, 1.17, 0.02em);
  color: var(--text-color);
}


.tel-menu-contacts__link--selected {
  @include font (500, 34px, 1.176, 0.02em);
  color: var(--accent-color);
}

.tel-menu-socials {
  @extend %list;
  display: flex;
}

.tel-menu-socials__item {
  padding-right: 10px;

  &:not(:first-child) {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    padding: 0 10px;
    height: 22px;
  }
}





.tel-menu-socials__link {
  @include font (500, 18px, 1.22, 0.02em);
  color: var(--accent-color);
  text-decoration: none;
}