.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;

  @include tab {
  padding-top: 21px;
  padding-bottom: 21px;
  }

  @include desk {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header__container {
    display: flex;
    align-items: center;
  }
}

