:root {
  --card-set-gap: 30px;
  --section-padding-bottom: 94px;
  --section-padding-top: 94px;
  --title-text-color: #212121;
  --text-color: #757575;
  --background-hero-color: #c4c4c4;
  --hero-tytle-color: #ffffff;
  --hero-btn-texr-color: #ffffff;
  --hero-btn-background-color: #2196f3;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --additional-font-color: #ffffff;
  --button-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}